// Brand Colors
$baby-blue: #9eb4dd;
$royal-blue: #13274C;

// Override Bootstrap Defaults
$primary: $royal-blue;
$info: $baby-blue;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;