// Body
$body-bg: #ced2da;
//Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border-color: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

//Brands
$brand-primary: #3097d1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb959;
$brand-danger: #bf5329;

//Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/"; // For Bootstrap icons
$font-family-sans-serif: 'Roboto', Arial, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #636b6f;

//Navbar
$navbar-default-bg: #fff;

//Buttons
$btn-default-color: $text-color;

//Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: ($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

//Panels
$panel-default-heading-bg: #fff;